<template name="Header">
  <img style="max-height: 150px; margin-top: -70px" class="ui fluid image" src="/images/header-logo.jpg">
  <div style="margin: 0px;border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Club Hub</h1></a>
      <a href="{{pathFor 'Log_In'}}" class="right item">Log In </a> <a href="{{pathFor 'Create_Account'}}" class="item">Create
      Account </a>
      <div style="margin-top: 10px" class="ui category search">
        <div class="results"></div>
      </div>
    </div>
  </div>
</template>